<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
    	<img class="img" style="height: 30px; display: inline; margin-top: -5px;" src="/img/icon.png" alt="TMF Logo">
    	<strong>ConsciousID</strong> <span style="font-size: 13px; margin-left: 15px; color: #ccc;">Investment Dashboard meets Conscious Capitalism</span>
    </a>
</div>
<!-- /.navbar-header -->