<div id="page-wrapper" style="min-height: 700px;" ng-controller="dashboard" ng-hide="hideDashboard">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><a href="{{ dashboard.companyWebsite }}"><img alt="{{ dashboard.companyName }}" class="img" style="max-width: 60px; display: inline-block; margin-top: -10px;" ng-src="{{ dashboard.squareLogo }}"></a></a> {{ dashboard.name }} <span style="color: #ccc; display: inline-block; font-weight: normal; font-size: 26px;">({{ ticker }})</span></h1>
          <h3 style="float: right; margin-top: -80px; color: #333;"><img src="http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png"> Company Rating: <span class="overallRating">{{ dashboard.overallRating }}</span></h3><span style="float: right; margin-top: -50px; color: #555">Employees are {{ dashboard.ratingDescription }}</span>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% include widgets/currentRatings %>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-8">
          <% include widgets/chart %>
          <!-- /.panel -->
          <!-- include widgets/timeline -->
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
          <% include widgets/searchHistory %>
          <!-- /.panel -->
          <!-- include widgets/ratingsPieGraph -->
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->
<div id="page-wrapper" style="min-height: 700px; text-align: center" ng-show="hideDashboard">
<div class="row">
	<div class="col-lg-12">
		<div class="well" style="margin-top: 30px;">
			<h1>Welcome to ConsciousID!</h1>
			<p>Start by searching for a ticker...</p>
		</div>
	</div>
</div>