<!DOCTYPE html>
<html ng-app="hackdash">
   	<head>
   		<title>Stay Conscious</title>
      <% include assets/head %>
   	</head>
   	<body ng-controller="root">
      <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include nav/header %>

            <% include nav/toplinks %>

            <% include nav/sidebar %>
        </nav>

        <% include dashboard %>

      </div>
      <% include assets/foot %>
   	</body>
</html>