<!DOCTYPE html>
<html>
   	<head>
   		<title><%= title %></title>
   	</head>
   	<body>
       	<section role="main">
      		<%= message %>
      		<% include search %>
       	</section>
   	</body>
</html>