<!DOCTYPE html>
<html>
   	<head>
   		<title></title>
   	</head>
   	<body>
       	<section role="main">
      		<% if (isHome) { %>
      			<% include search %>
      		<% } else { %>
      			<% include dashboard %>
      		<% } %>
       	</section>
   	</body>
</html>