<!DOCTYPE html>
<html ng-app="hackdash">
   	<head>
   		<title>HackDash</title>
      <% include head %>
   	</head>
   	<body>
       	<section role="main">
          <div class="container">
        			<% include search %>
        			<% include dashboard %>
          </div>
       	</section>
        <% include foot %>
   	</body>
</html>